extends inc/layout.pug

block title 
    title Inheritance
block content 
    header
        h1 Inheritance 
    section
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis accusamus aliquid sit vel earum numquam veniam molestiae inventore cupiditate sapiente?